.section1 {
  background: #1b262f;
  max-width: 1440px;
  margin: 0 auto;
  flex-shrink: 0;
  border-radius: 10px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 151px;
}
.section-title h3 {
  padding-top: 100px;
  padding-bottom: 24px;
  max-width: 445px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #fbfcfe;
}
.section-title p {
  padding-bottom: 32px;
  max-width: 445px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #fbfcfe;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.abaut-us {
  border: 1px solid #fbfcfe;
  border-radius: 24px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  margin-bottom: 100px;
}
.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 62px;
}
.section-link {
  max-width: 129px;
//   padding-bottom: 54px;
}
.section-link2 {
  max-width: 142px;
}
.section-link3 {
  max-width: 140px;
}
.section-link4 {
  max-width: 96px;
}
.section-link6 {
  max-width: 137px;
}
@media (max-width: 980px) {
  .section-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-logo {
    padding-top: 88px;
    padding-bottom: 60px;
    padding-left: 116px;
    padding-right: 116px;
  }
  .section-title h3 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #fbfcfe;
    max-width: 457px;
  }
  .section-title p {
    max-width: 456px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #fbfcfe;
    mix-blend-mode: normal;
    opacity: 0.7;
  }
}
@media (max-width: 766px) {
  .section-logo {
    display: grid;
    flex-direction: column-reverse;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    max-width: 600px;
    row-gap: 10px;
    padding-bottom: 58px;
  }
  .section1 {
    // max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 375px) {
  .section1 {
    max-width: 375px;
    margin: 0 auto;
  }
}
.form-title h4 {
  padding-top: 210px;
  max-width: 445px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}
.form-title p {
  max-width: 445px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}
.form {
  display: flex;
  align-items: center;
  gap: 125px;
}
.form img {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    padding-bottom: 48px;
    gap: 0;
  }
  .form img {
    padding-bottom: 0;
  }
  .form-title h4 {
    max-width: 573px;
    padding-top: 48px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536b;
  }
  .form-title p {
    max-width: 573px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #6c8294;
  }
}
@media (max-width: 400px) {
  .form img {
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;
    
  }
  .form{
    margin: 0 auto;
  }
  .form-title h4 {
    max-width: 327px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.276923px;
    color: #36536b;
  }
  .form-title p {
    padding-top: 24px;
    max-width: 328px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #6c8294;
  }
}
